.article-title {
    color: black;
}

.profile-photo {
    transition: box-shadow .3s;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    padding: 0px;
    border: 1px solid #ccc;
}

.navbar {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.navbar-item,.navbar-burger {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 64px;
}

.article-flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.article-box {
    margin: 5px 5px 45px 5px;
    /* flex-basis: 500px; */
    flex-grow: 1;
    border-radius: 5px;
}

@media (min-width: 650px) {
    .article-box {
        margin: 35px;
    }
}

.j-content-container {
    display: grid;
    grid-template-columns: 10px minmax(100px,1fr) 10px;
    grid-template-rows: 75px auto 250px;
    grid-template-areas:
        "top top top"
        "left main right"
        "foot foot foot"
}
@media (min-width: 650px) {
    .j-content-container {
        grid-template-columns: 20% 60% 20%;
    }
}
.j-content {
    grid-area: main;
}

pre {
    background-color: #272822;
    border-radius: 5px;
}

.contact-grid {
    display: flex;
    justify-content: center;
}

.contact-grid > .contact-button {
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow .3s;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin: 5px;
    height: 45px;
    width: 45px;
    font-size: 24px;
}

.contact-grid > .contact-button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    color: black;
}

/* @media (prefers-color-scheme: dark) {
    html, body, code {
        background-color: #272822;
    }
    blockquote {
        background-color: #272822 !important;
        border-left: 5px solid #4a4a4a !important;
    }
    body, h2 {
        color: white !important;
    }
    .profile-photo {
        border: 1px solid #4a4a4a;
    }
    .contact-grid > .contact-button {
        border-color: #4a4a4a;
    }
    .contact-grid > .contact-button:hover {
        color: white !important;
        border-color: white;
    }
    hr {
        background: #4a4a4a;
    }
    .navbar-item, .navbar-menu {
        color: white !important;
        background-color: #363636;
    }
    .navbar-item:hover {
        color: darkgrey !important;
        background-color: #292929 !important;
    }
    a {
        color: #6f99dc;
    }
    a:hover {
        color: darkgray;
    }
} */